* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #fff;
  color: black;
}

nav {
  background-color: orangered;
  padding: 10px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.m {
  margin: 10px;
}
button {
  border: none;
  background-color: orange;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

p {
  height: 65vh;
}
footer {
  bottom: 0;
  padding: 10px;
  background-color: orange;
  padding: 20px;
}
